
/* variables */
//colors
$color_main: #fff;
$bg_body: #212020;


//fonts
$font_size: 2rem;
$font_regular: 'Quicksand', Verdana, Arial, sans-serif;

$media_custom: 1560px;
$media_desktop: 1200px;
$media_tablet: 800px;
$media_phone: 580px;

// Small devices
@mixin sm {
  @media (min-width: #{$media_phone}) {
    @content;
  }
}
// Medium devices
@mixin md {
  @media (min-width: #{$media_tablet}) {
    @content;
  }
}
// Extra large devices
@mixin lg {
  @media (min-width: #{$media_desktop}) {
    @content;
  }
}

@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}



@mixin maxlg {
  @media (max-width: #{$media_desktop}) {
    @content;
  }
}
@mixin maxmd {
  @media (max-width: #{$media_tablet}) {
    @content;
  }
}
@mixin maxsm {
  @media (max-width: #{$media_phone}) {
    @content;
  }
}

@mixin maxrwd($screen) {
  @media (max-width: $screen+'px') {
    @content;
  }
}